/*start icon css*/
@import url(../icon/style.css);
@font-face {
    src: url("../font/inter_font/Inter-Light.ttf");
    font-family: inter;
}
/*End icon css*/
body {
    background: url("../img/Bg-desktop.svg");
    background-repeat: no-repeat;
    background-color: #F0F0F6 !important;
    font-family: inter !important;

   /*height: 100vh;*/
}

.nav-link {
    color: white !important;
    font-family: 'Times New Roman', Times, serif;
    text-align: center !important;
}
/*start menu CSS*/
.menu>ul:before{
    background-color: #f0f0f6;
    content: '';
    background-image: url(../img/gb-menu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 5rem;
    top: 0;
    left: -7.75rem;
    width: 8.4375rem;
}
.menu>ul{
    border-radius: 0 40px 0 0;
    list-style: none;
    background-color: white;
}
.menu>ul>li{
    padding: 20px 10px;

}
.menu-item:hover{
    color: #0a53be !important;

}
.menu-item{
    font-weight: bold !important;
    color: gray !important;
}
.bg-menu{
   /* background-color: #F0F0F6 !important;*/
}
/*END menu CSS*/

/*start profile*/
.profile-photo{
    border-radius: 30px;
}
.btn-creative{
    background-color: lightgray !important;;
    border-radius: 50px !important;
}
.nav-profile{
    border-radius: 40px;
}
.btn-download{
    border-radius: 30px;
    border: none;
    background-color: #304CFD;
    color: white;
    width: 180px;
    height: 50px;
}
.contact-item .font-icon{
    font-size: 1.125rem;
    margin-right: 0.875rem;
    text-align: center;
}
.contact>ul{
    list-style: none;
    font-size: 17px;
    color: #44566C !important;
}
/*end profile*/

/*start About me*/
.about-me {
    background-color: white;
    border-radius: 40px !important;
}
.row{
    border-radius: 40px 0px 40px 40px !important;
}
h1{
    color: #44566C;
    margin-top: 1.5rem;
}
/*End About me*/